body {
  text-align: center;
  font-family: helvetica;

}

header {
  color: white;
  background-image: url("./images/the-flatiron-building.png");

}

h1  {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}

p {
  font-size: 14px;
}

#divider {
  color: white;
  background-image: url("./images/the-flatiron-building.png");
  font-size: 23 px;
  font-weight: bold;

}

#home  {
  color: white;
  font-weight: bold;
}
#work {
  font-size: 32px;
}

a.link, a:visited {
  color: white;
}
